body {
    font-family: 'Open Sans', sans-serif;
}

.home-body {
	background: url('pictures/veteransEmbassyblurr.jpg');
	background-size: cover;
	background-color: black;
  background-repeat: no-repeat;
}

.page {
	padding: 10px;
	margin: 0 auto;
	width: 960px;
}

.hero {
	overflow: hidden;
	position: relative;
	min-height: 510px;
}

.event-hero {
	overflow: hidden;
	position: relative;
	height: 510px;
}


.welcome-nav {
	text-align: center;
	font-family: 'Courgette';
	background-color: rgba(53, 53, 53, 0.6);
	font-size: 12pt;
	padding: 20px;
	margin: 0 auto;
	margin-top: 10px;
	border-radius: 5px;
}

nav > a {
	color: rgba(255, 255, 255, 0.8);
	padding: 0px 50px 0px 50px;
	text-decoration: none;
}

.logo {
	text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
	font-size: 3.5em;
	display: block;
	margin-top: 45px;
}

.logo, .Welcome-home {
	font-family: 'Oswald';
	text-decoration: none;
	color: white;
}

.Welcome-home {
	font-size: 1em;
	margin-top: -10px;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}

.embassy-description {
	font-size: 1.1em;
	color: white;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.9);
	width: 455px;
	left: 160px;
	bottom: 230px;
}

.services {
	position: absolute;	
	color: white;
	right: 0px;
	bottom: 20px;
}

.services .img {
	width: 100px;
	height: 100px;
	border: 2px solid rgba(255, 255, 255, 0.5);
}

.branches {
	color: rgba(255, 255, 255, 0.8);
	border-top: 2px solid rgba(255, 255, 255, 0.5);
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
	padding: 12px 0px;
	width: 960px;
	bottom: 0px;
  font-family: 'Courgette';
	text-align: center;
}

.branches > span {
	display: inline-block;
	width: 20%;
}

.hero-picture > img {
	width: 350px;
	height: 472px;
}

/************************************
Suicide Hotline page
************************************/
.suicide-hotline-logo, .please-call {
	font-family: 'Oswald';
	text-decoration: none;
	color: white;
}

.suicide-hotline-logo {
	text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
	font-size: 3.5em;
	display: block;
	margin-top: 45px;
}

.please-call {
	font-size: 1em;
	margin-top: -67px;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}

.hotline-numbers {
	color: white;
	font-size: 1em;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
	width: 375px;
	float: left;
}

.suicide-hotline-picture img {
	margin-top: -138px;
	padding-left: 112px;
}

/************************************
SignIn page
************************************/

.sign-in {
	font-family: 'Oswald';
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
	margin-top: 10px;
	float: left;
}

.sign-in-field {
	margin:15px;
	overflow: hidden;
	width: 300px;
}

.sign-in-input {
	color: black;
}

.sign-in-title {
	margin-right: 3px;
	float: left;
	width: 111px;
}

.sign-in-title label {
	text-align: left;
}

.sign-in-picture {
	padding: 20px 0px 0px 113px;
	margin-left: 415px;
	margin-top: -160px;
	margin-bottom: 15px;
}

.sign-in-button {
	font-family: 'Oswald';
	margin: 10px 0px;
	border-radius: 3px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
}

/************************************
Sign Up Page
************************************/

.sign-up {
	font-family: 'Oswald';
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
	height: 575px;
	margin-top: 10px;
	float: left;
}

.sign-up-field {
	margin:15px;
	overflow: hidden;
	width: 300px;
}

.sign-up-title {
	margin-right: 3px;
	float: left;
	width: 111px;
}

.sign-up-title label {
	display: block;
	text-align: left;
}

.sign-up-picture {
	overflow: hidden;
	padding: 16px 0px 0px 113px;
	height: 470px;
	width: 325px;
	background-image: url('pictures/IWantYouBWF.jpg');
	background-size: cover;
	margin-top: 30px;
	margin-left: 425px;
}

.sign-up-button {
	font-family: 'Oswald';
	margin: 10px 0px;
	border-radius: 3px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
}

.sign-up-input {
	color: black;
}

/************************************
Events Page
************************************/

.events {
	height: 500px;
	overflow: hidden;
  margin-top: 6px;
}

.event-gallery > div {
	display: inline-block;
	background-color: rgba(53, 53, 53, 0.6);
	vertical-align: top;
	margin: 8px;
}

.event-gallery img {
	height: 175px;
	width: 220px;
}

.event-name {
	font-family: 'Oswald';
	text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
	padding: 14px;
	text-decoration: none;
	color: white;
	text-align: center;
	display: block;
}

.hide {
	display: none;
}

/************************************
Add Event Page
************************************/

.add-event {
	font-family: 'Oswald';
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
	width: 400px;
	float: left;
}

.add-field {
	margin-top: 15px;
	overflow: hidden;
	width: 500px;
}

.add-title {
	margin-right: 3px;
	float: left;
	width: 111px;
}

.add-title label {
	display: block;
	text-align: left;
}

.add-input {
	color: black;
}

.event-details-input {
	width: 300px;
	height: 130px;
	color: black;
}

.add-events-picture {
	margin-top: -125px;
}

.add-events-picture img {
	padding: 0px 0px 0px 115px;
}

.add-event-button {
	font-family: 'Oswald';
	margin: 10px 0px;
	border-radius: 3px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.8);

}

/************************************
Hiking Page
************************************/

.hiking-events {
	margin-bottom: 15px;
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
	align-content: flex-start;
}

.hiking-media-obj {
	font-family: 'Oswald';
	color: rgba(255, 255, 255, 0.9);
	margin-top: 10px;
	padding:8px;
	display: flex;
	align-items: flex-start;
	flex-grow: 0;
	background-color: #333;
	border: 1px solid #111;
	margin-left: 13px;
	width: 46%;
}

.hiking-media-obj > img {
	margin-right: 13px;
}

.hiking-details {
	flex: 1;
	width: calc(100% - 160px);
}
.hiking-hero-picture {
	display: block;
	position: relative;
	background-image: url('pictures/OPNMsunset2.jpg');
	background-size: cover;
	margin-top: 15px;
	width: 100%;
	height: 100%;
	background-position-y: -85px;
	background-position-x: -330px;
}





