body {
    font-family: 'Open Sans', sans-serif;
    background-color: orange;
}
.home-body {
	background: url('pictures/veteransEmbassyblurr.jpg');
	background-size: cover;
}
.main-container {
	width: 960px;
	margin: 0 auto;

}

.panel-hero {
	min-height: 200px;
	margin: 0 auto;
}

.welcome-nav {
	text-align: center;
	font-family: 'Courgette';
	background-color: rgba(53, 53, 53, 0.6);
	font-size: 12pt;
	padding: 20px;
	margin: 0 auto;
	margin-top: 10px;
	border-radius: 5px;
}

nav > a {
	color: rgba(255, 255, 255, 0.8);
	padding: 0px 50px 0px 50px;
	text-decoration: none;

}

.welcome-header {
	width: 100%;
	background-color: transparent;
}

.logo, .Welcome-home {
	margin-left: 140px;
	font-family: 'Oswald';
	text-decoration: none;
	color: white;
}

.Welcome-home {
	font-size: 1em;
	margin-top: -10px;
	text-shadow: 3px 3px rgba(184, 0, 0, 0.8);

}

.logo {
	text-shadow: 3px 3px rgba(184, 0, 0, 0.8);
	font-size: 3.5em;
	display: block;
	margin-top: 45px;
}

.services {
	position: absolute;	
	color: white;
	right: 160px;
	bottom: 100px;
}

.services .img {
	width: 100px;
	height: 100px;
	border: 2px solid rgba(255, 255, 255, 0.5);
}

.branches {
	background-color: transparent;
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
	border-top: 2px solid rgba(255, 255, 255, 0.5);
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
	padding: 12px 0px;
	position: absolute;
  font-family: 'Courgette';
	bottom: 25px;
	width: 960px;

}
.branches > span {
	display: inline-block;
	width: 20%;
}







